@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("../img/fondo-login.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav */

nav {
  background-color: #3edbf0;
  color: #c0fefc;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.links {
  display: flex;
  gap: 5px;
  padding: 0;
  list-style-type: none;
  align-items: baseline;
}

.links-li {
  color: #ecfcff;
  text-decoration: none;
  font-family: sans-serif;
  padding: 0px 25px;
  font-size: 15px;
  /* line-height: 80px; */
  text-transform: uppercase;
}

.nav__toggle {
  width: 20px;
  display: flex;
}

.nav__header {
  display: flex;
  align-items: center;
}

#img__logo {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.nav__logo {
  font-size: 200%;
  color: #009eff;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black;
}
.rotate {
  transform: rotate(180deg);
}

.show-links {
  height: 10rem;
  /* al hacer click en el boton  */
}

#cart-li {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SECTION */
.item__image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.section__container {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid #009eff;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #c0edf3;
  border-radius: 7px;
  font-size: 15px;
}

.item__title {
  margin: 20px;
}

.item__price {
  margin: 20px;
}

.item__button {
  top: 50%;
  background-color: #009eff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}

.item__button:hover {
  background-color: #3edbf0;
  transition: 0.7s;
  box-shadow: 0 0 0 1px blue;
  outline-color: transparent;
  outline-style: solid;
  color: #ecfcff;
}
.item__button:active {
  background-color: blue;
  box-shadow: 0 5px blue;
  transform: translateY(4px);
}
