@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ecfcff;
}

/* nav */

nav {
  background-color: #3edbf0;
  color: #c0fefc;
}

.nav__container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.links {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.links-li {
  color: #ecfcff;
  text-decoration: none;
  font-family: sans-serif;
  padding: 0px 40px;
  font-size: 15px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav__toggle {
  width: 20px;
  display: flex;
}

.nav__logo {
  font-size: 200%;
  color: #009eff;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black;
}
.rotate {
  transform: rotate(180deg);
}

.show-links {
  height: 10rem;
  /* al hacer click en el boton  */
}

#cart-li {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SECTION */
.item__image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.section__container {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #c0edf3;
}

.item__title {
  margin: 20px;
}

.item__price {
  margin: 20px;
}
